.scroll-gallery {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.scroll-gallery-card {
  scroll-snap-align: center;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
